* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'young serif', serif;
}
.container {
    padding: 50px;
}
.section-one {
    background-color: black;
    color:white;
    padding: 20px;
}
.section-one__contact {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
}
.section-one__name {
    font-size: 60px;
}
.section-one__role {
    font-size: 40px;
    margin-top: 20px;
}

.section-two, .section-three, .section-four, .section-five {
    margin-top: 20px;
}
.section-two__description, .section-three__description, .section-four__description, .section-five__description {
    margin-top: 20px;
}
.section-five {
    background-color: black;
    color: white;
    padding: 20px;
}
.section-five__title a{
    color: skyblue;

}
.section-three li, .section-four li {
    list-style: none;
}
.section-three {
    background-color: #6462FD;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    vertical-align: top;
}

.section-four {
    background-color: #fe7157;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    vertical-align: top;
}

.contact_form {
    margin-top: 20px;

}
.contact_form__input, .contact_form__textarea, .contact_form__submit {
    margin-top: 10px;
}
.contact_form__input {
    padding: 10px;
    border: none;
    border-bottom: solid black 1.5px;
}
.contact_form__textarea {
    padding: 10px;
    border: none;
    border: solid black 1.5px;
}
.contact_form__submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orangered;
    color: black;
    border: none;
}